In [1]:
print("Hello World")

Hello World

print() is a function, and "Hello World" is an argument

In [ ]:
# lines of code can be commented too with a hash

In [2]:
# purposeful error code 
print(hello world)

SyntaxError: invalid syntax (<ipython-input-2-3bf593c4e4f6>, line 2)

In [3]:
# another purposeful error 
pint("hello world")

NameError: name 'pint' is not defined

In [4]:
# print phrase with line break 
print("hello\nworld")

hello
world

In [5]:
# store a short DNA sequence 
DNA_Seq = "AAGTCGT"

In [6]:
# print that sequence 
print(DNA_Seq)

AAGTCGT

In [7]:
# try to find the length of the sequence 
len(DNA_Seq)

7

In [10]:
# what if I want to turn the length of the sequence into a string instead of a number?
length_DNA = len(DNA_Seq)
print("The length of my sequence is " + str(length_DNA))

The length of my sequence is 7

In [11]:
# using a method > like a function but only for a particular type of thing 
print(DNA_Seq.lower())
# write the variable first, then a period, then the method, followed 
# by parentheses including arguments (if any)
# method does not change the variable (DNA_Seq)

aagtcgt

In [12]:
# using the replace method 
protein = "vlspadktnv"
# replace l with t
print(protein.replace("l", "t"))

vtspadktnv

In [13]:
# print a portion, or a substring, of the protein sequence 
print(protein[2:4])
# notice that the "1st" position is actually 0
# also notice that the first position gets included, but the stop position is not included

sp

In [15]:
# count how many Vs in the protein sequence 
V_counts = protein.count("v")
print("number of Vs: " + str(V_counts))

number of Vs: 2

In [16]:
# also find the position of a protein in the sequence 
protein.find("a")

4

In [18]:
# or 
print("a is in position " + str(protein.find("a")))

a is in position 4

Exercises

1 Calculating AT content

In [20]:
# find the AT content of this sequence 
#  ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT
# first make it into a variable 
sequence = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"

In [21]:
# now I want to count how many As and Ts 
A_counts = sequence.count("A")
T_counts = sequence.count("T")

In [22]:
# now to add those numbers up 
AT_count = A_counts + T_counts

In [23]:
# what is this number?
print(AT_count)

37

In [25]:
# usually AT content is presented as a percentage, so I need to know how long the sequence is too 
length_sequence = len(sequence)
print(length_sequence)

54

In [28]:
# ok now I know the total number of bases and how many ATs 
AT_proportion = 37 / 54
print(AT_percentage)

0.6851851851851852

In [29]:
# this can be made into a percent by multiplying by 100 
AT_percentage = AT_proportion * 100
print (AT_percentage)

68.51851851851852

In [30]:
# and I can get GC content too 
GC_percentage = 100 - AT_percentage
print(GC_percentage)

31.48148148148148

2 Complementing DNA

In [ ]:
# what is the compliment of this sequence? 
# ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT
# this is the same sequence as before so I don't need to make another variable

In [32]:
# I need to replace each letter with its compliment, without double replacing...
print(sequence.replace("A" "T" "G" "C", "T" "A" "C" "G"))

ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGTACGGTTCAT

In [ ]:
# That doesn't work
# I went into the solutions to figure this one out because I didn't have any ideas

In [33]:
# You can replace each with a lowercase, then make them all upper case
replace_1 = sequence.replace("A", "t")
replace_2 = replace_1.replace("T", "a")
replace_3 = replace_2.replace("C", "g")
replace_4 = replace_3.replace("G", "c")
# check the string
print(replace_4)

tgactagctaatgcatatcataaacgatagtatgtatatatagctacgcaagta

In [34]:
# ok that seems right, now to make it uppercase 
sequence_compliment = replace_4.upper()
print(sequence_compliment)

TGACTAGCTAATGCATATCATAAACGATAGTATGTATATATAGCTACGCAAGTA

Restriction fragment lengths

In [ ]:
# calculate the length of the fragments in my sequence when cut by EcoRI 
# which cuts here: G*AATTC

In [35]:
# I need to find where GAATTC is in the sequence 
sequence.find("GAATTC")

-1

In [36]:
# hmmm this says it doesn't exist
# let me make sure the sequence is the right one 
sequence_2 = "ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCAT"

In [39]:
# now does my find work?
sequence_2.find("GAATTC")

21

In [40]:
# great, my mistake
# ok so my guess is that the G is position 21, so I'll actually want to break it up after the G 
# this can be done by makeing a substring 
fragment_1 = sequence_2[0:22]
# does this preseve the G?
print(fragment_1)

ACTGATCGATTACGTATAGTAG

In [41]:
# yes! great, now to print the other fragment 
fragment_2 = sequence_2[23:100]
# the 100 is not the real end, but it is just a place holder 
print(fragment_2)

ATTCTATCATACATATATATCGATGCGTTCAT

In [42]:
# hmmm not quite, just missing an A 
fragment_2 = sequence_2[22:100]
print(fragment_2)

AATTCTATCATACATATATATCGATGCGTTCAT

In [ ]:
# perfect!

Splicing out introns, part one

In [ ]:
# separate out coding exons from this sequence:
# ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT

In [44]:
sequence_3 = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
print(sequence_3)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT

In [46]:
# first exon is from the first character to the 63rd 
first_exon = sequence_3[0:64]
print(first_exon)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGAT

In [47]:
# I am pretty sure that is right, but not completely sure 
# second exon is from the 91st character to the end 
second_exon = sequence_3[93:200]
print(second_exon)

ATCGATCGATATCGATGCATCGACTACTAT

Splicing out introns, part two

In [48]:
# using that same sequence and coding/non-coding, what is the percentage of both?
# length of full sequence 
seq_len = len(sequence_3)
print(seq_len)

123

In [49]:
# length of exons 
exon_1_len = len(first_exon)
exon_2_len = len(second_exon)
# combine lengths 
exon_total_len = exon_1_len + exon_2_len
print(exon_total_len)

94

In [51]:
# calculate the proportion exon 
prop_exon = 94 / 123
# calculate percentage exon 
percent_exon = prop_exon * 100
print(percent_exon)

76.42276422764228

Splicing out introns, part three

In [53]:
# I need to make all the exons as uppercase, and introns as lowercase
# separate out the intron
intron = sequence_3[64:93]
intron_lower = intron.lower()
print(intron_lower)

cgatcgatcgatcgatcgatcatgctatc

In [54]:
# check that this is the right length 
len(intron_lower)

29

In [55]:
94 + 29

123

In [56]:
# good 
# now combine the sequences and print them 
print(first_exon + intron_lower + second_exon)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATcgatcgatcgatcgatcgatcatgctatcATCGATCGATATCGATGCATCGACTACTAT