Lists and loops chapter 4 follow along

In [1]:
# make a list 
# use square brackets and commas
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]

In [2]:
# what is the first ape?
print(apes[0])

Homo sapiens

In [3]:
# also can write it to an object 
first_site = conserved_sites[2]

In [6]:
# what if we only know the element?
# use index for it to tell you which element number 
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
chimp_index = apes.index("Pan troglodytes")
print(chimp_index)

1

In [ ]:
# that's the second element because the 1st one is alway 0

In [ ]:
# use -1 to get the last element

In [7]:
last_ape = apes[-1]
print(last_ape)

Gorilla gorilla

In [ ]:
# you can specify a range of elements

In [8]:
ranks = ["kingdom","phylum", "class", "order", "family"]
lower_ranks = ranks[2:5]
print(lower_ranks)

['class', 'order', 'family']

In [ ]:
# add another element

In [9]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
apes.append("Pan paniscus")

In [ ]:
# append actually changes the list, while other methods usually do not

In [10]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(apes)) + " apes")
apes.append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 3 apes
Now there are 4 apes

In [ ]:
# you can also add two lists (or more) together

In [11]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

3 apes
2 monkeys
5 primates

In [ ]:
# you can reverse and sort the oder of a list

In [12]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start : " + str(ranks))
ranks.reverse()
print("after reversing : " + str(ranks))
ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [ ]:
# using sort either goes in alphabetical or acending numerical order

In [ ]:
# what if I want to print out all of the apes as a phrase, with only one line of code?

In [13]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    print(ape + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [ ]:
# more complicated loop

In [14]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

In [ ]:
# the lines inside the loop all need to be indented in the same way

In [16]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
  first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
# you can also treat a string as a list in a loop

In [17]:
name = "martin"
for character in name:
   print("one character is " + character)

one character is m
one character is a
one character is r
one character is t
one character is i
one character is n

In [ ]:
# the split method takes a string and outputs it as a list

In [18]:
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(species)

['melanogaster', 'simulans', 'yakuba', 'ananassae']

In [ ]:
# range function

In [19]:
for number in range(6):
    print(number)

0
1
2
3
4
5

In [20]:
for number in range(3, 8):
    print(number)

3
4
5
6
7

In [ ]:
# with three numbers, it counts up to the second number by the third number

In [21]:
for number in range(2, 14, 4):
    print(number)

2
6
10

Excercises

Processing DNA in a file

In [ ]:
# Write a program that will (a) trim this adapter and write the cleaned sequences to a new file and 
# (b) print the length of each sequence to the screen

In [8]:
# first open the file 
dna_file = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/exercises_and_examples/lists_and_loops/exercises/input.txt")

# trim adapters per line 
# want everything after the first 14 bases
# need to know last position
# need to open a text file before starting the loop 
# then write to the text file
# then print lenghts
out = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/trimmed.txt", "w")
for line in dna_file:
    last = len(line)
    trimmed = line[14:last]
    print(trimmed)
    out.write(trimmed)
    lengths = len(trimmed)
    print(lengths)

dna_file.close()
out.close()

TCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATC

43
ACTGATCGATCGATCGATCGATCGATGCTATCGTCGT

38
ATCGATCACGATCTATCGTACGTATGCATATCGATATCGATCGTAGTC

49
ACTATCGATGATCTAGCTACGATCGTAGCTGTA

34
ACTAGCTAGTCTCGATGCATGATCAGCTTAGCTGATGATGCTATGCA

48

Multiple exons from genomic DNA

In [ ]:
# extract the exon segments, concatenate them, and write them to a new file

In [36]:
# open the two files 
genomic_dna = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/exercises_and_examples/lists_and_loops/exercises/genomic_DNA.txt")
exons = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/exercises_and_examples/lists_and_loops/exercises/exons.txt")  

# look at exons 
for line in exons:
    print(line)
# there are two things per line                   
# can I extract out the first?
for line in exons:
    line2 = line.split(",")
    first_pos = line2[0:1]
    print(first_pos)

# did not get any further than this

5,58

72,133

190,276

340,398

In [35]:
genomic_dna = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/exercises_and_examples/lists_and_loops/exercises/genomic_DNA.txt")
exons = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/exercises_and_examples/lists_and_loops/exercises/exons.txt")  
genomic_dna_contents = genomic_dna.read()

all_exons = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/all_exons.txt", "w")
for line in exons:
    line2 = line.rstrip() # remove the new line at the end of the string
    line3 = line2.split(",") # make the string into a list so you can separate
    first_pos = line3[0:1] # this is the start position of the exon
    second_pos = line3[1:2] # this is the end position of the exon
    start = "".join(first_pos) # makes it not a list
    stop = "".join(second_pos)# makes it not a list
    start2 = int(start) # for some reason these don't read as integers
    stop2 = int(stop) # have to make them into integers
    exon_pieces = genomic_dna_contents[start2:stop2 ] # cut down lines by the exon pieces 
    all_exons.write(exon_pieces) # makes a file with all the exon pieces 
    
the_exons = open("/Users/maggieschedl/Desktop/Github/Python_4_Biologists_Learning_Group/all_exons.txt")
all_exons_contents = the_exons.read()
print(all_exons_contents) # ok there are no new lines, it concatinated 
all_exons.close()
the_exons.close()